/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-size: .875rem;
  font-family: Verdana, sans-serif; 
  margin:0;
}

h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}

.darkMode{
  margin: 1%;
  float: right;
}
.dark-mode {
  background-color: black;
  color: white;
}