body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}


body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
.unidades{
  width: 20%;

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 3%;
}


/* Set a style for all buttons */
button {
  background-color: deepskyblue;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border: 3px solid #ddd;
  border-radius: 8px;
  border-color: black;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ff0000;
}
.contenedor2{
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  border: 7px solid #ddd;
  border-radius: 8px;
  border-color: black;
}
/* Center the image and position the close button */
.contenedor1{
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.votala{
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
   /* Hidden by default */
 
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;

  }
  .cancelbtn {
     width: 100%;
  }
}
@media screen and (max-width: 1000px){
        .contenedor2{
            width:  50%;
            margin-right: 35%; 
              margin-left: 75%; 
        }
    }

.contenedor1{
  float: left;
  margin-right: 10%; 
  margin-left: 10%; 
  width: 50%;
}
@media screen and (max-width: 1000px){
        .contenedor1{
            width:  50%;
            margin-right: 30%;
            margin-left: 25%;
        }
    }


.contenedor2{
  float: right;
  width: 30%;
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {

  display: inline-block;

}
.votala{
  float: left;
  margin-right: 10%;
  margin-left: 10%;
  width: 50%;
}
@media screen and (max-width: 1000px){
        .votala{
            width:  50%;
            margin-right: 30%;
            margin-left: 25%;
        }
    }
.opinions{
      float:center;
      margin-top: 10%;
      margin-left: 10%;
    }

@media screen and (max-width: 1700px){
    .opinions{
        width:  50%;
        margin-right: 50%;
        margin-left: 10%;
        }
    }
@media screen and (max-width: 1000px){
        .opinions{
            margin-left: 25%;
        }
    }

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: 10%;
}


#customers td, #customers th {
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4080bf;
  color: white;
}
.text{
  margin-top: 2%;
  width: 50%;
}
textarea{
  width: 50%;
  text-align: center;
}

footer{
  border-top-style: solid;
  border-width: 2px;
  border-color: grey;
  margin-top: 5em;
}

.opinions {
  margin-top: 10em;
}